<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings >
    <!--<add
         name="myConnectionString"
         connectionString="Data Source=RYANRS;Initial Catalog=e-VentoryDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"/>-->
    <add
         name="myConnectionString"
         connectionString="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A2B60D_eVentoryDB;User Id=DB_A2B60D_eVentoryDB_admin;Password=09336373145ryan;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
</configuration>
